.contact_inputs{
  display: flex;
  justify-content: center;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
  background-color: #191645;
  gap: 30px;
}

.input{
  border-style: none;
  border-radius: 5px;
  padding: 5px;
}

.add{
  border-style: none;
  border-radius: 5px;
  padding: 5px;
  background: #43c6ac;
}

.add:hover{
  background: linear-gradient(#43c6ac,#5f5d8f);
  cursor: pointer;
}